.weather-main {
  display: block;
  border-radius: 10px;
  width: 210px;
  height: 210px;
  background: linear-gradient(180deg, rgb(2, 6, 241) 0%, rgba(2, 98, 241) 50%, rgb(6, 13, 221) 100%);
  color: white;
}

.weather-row {
  display:block;
  margin:0 auto;
  width: fit-content;
}

.temp {
  display: block;
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
  padding: 20px;
}

.date-time {
  font-size: 10px;
}

.sun {
  font-size: 60px;
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow(1px 1px 10px yellow);
}

.moon {
  font-size: 60px;
  margin-top: 10px;
  color: white;
  filter: drop-shadow( 1px 1px 10px white);
}

.cloud {
  font-size: 60px;
  margin-top: -40px;
  color: white;
  filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;

}

@keyframes cloudMovement{
  from{margin-left: 15px;}
  to{margin-left: 85px;}
}

.weather-city {
  font-size: 18px;
}
