.forecast-outer-card {
  width: 200px;
  margin-top: 5px;
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
  background: inherit;
}

h1 {
  color: black;
}

h3 {
  margin-bottom: 5px;
}

.forecast-inner-card {
  height: 50px;
  width: 50px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
  background: rgb(2, 6, 241);
  color: white;
}

.temp, .day {
  margin: 0;
  text-align: center;
}

.temp {
  font-weight: bold;
}

.day {
  font-style: italic;
}

.sun {
  font-size: 20px;
  color: rgb(255, 255, 0);

}
